<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Soybean Diseases Detection</title>
    
    <style>
        body {
            background-color: #0eba48;
            font-family: 'Outfit', sans-serif;
        }
    </style>

</head>
<body>
    <div class="isi-container">
        <div class="container card-container text-center">
            <div class="card">
                <div class="card-header mb-6 pt-3 pb-3">
                    <h2>Deteksi Penyakit Tanaman Kedelai Menggunakan Citra <br>
                        Digital Dengan Metode Machine Learning</h2>
                </div>
                
    <div class="container my-2">
        <div class="row mb-5">
            <div class="col-sm" style="margin-left: 23px;">
                <br>
                    <br>
                <span class="border border-primary">
                    <img src="/static/um_logo.png" alt="Logo UM" style="width:250px;height:250px;">
                </span>
                <div>
                    <br>
                <p><b> Universitas Negeri Malang <br />
                Fakultas Matematika dan Ilmu Pengetahuan Alam <br />
                Matematika</b></p>
            </div>
            </div>

            <div class="col-sm">
                <div style="text-align: justify; margin-right: 30px;" class="details">
					
					<h5><b> Pembuat: </b> </h5>
                    <h6>
                        <p>Fadhilah Akhbar</p>
                    </h6>
                    <h5><b> Pembimbing: </b> </h5>
                    <h6>
                        <p>Susy Kuspambudi Andaini, Dra, M.Kom</p>
                    </h6>
                    <h5><b> Penjelasan Website: </b> </h5>
                    <h6>
                        <p>Website ini bertujuan untuk membantu pengguna dalam mendeteksi penyakit tanaman kedelai. Pengguna hanya membutuhkan sebuah gambar daun kedelai untuk melakukan proses deteksi dan setelahnya pengguna akan mendapatkan hasil deteksi seperti jenis penyakit, deskripsi penyakit, dan juga cara mengatasinya. Selamat mencoba!</p>
                    </h6>
                    <h5><b> Kontak Pembuat: </b> </h5>
                    <h6>
                        <p>Email: fadillahakbar82@gmail.com</p>
                    </h6>
                </div>
                <div>
                    <a href="/detect" class="btn btn-primary">Halaman Deteksi</a>
                </div>
</body>
</html>