<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Soybean Diseases Detection</title>
    
    <style>
        body {
            background-color: #0eba48;
            font-family: 'Outfit', sans-serif;
        }
    </style>

</head>
<body>
    <div class="isi-container">
        <div class="container card-container text-center">
            <div class="card">
                <div class="card-header mb-6 pt-3 pb-3">
                    <h2>Deteksi Penyakit Tanaman Kedelai</h2>
                    <h4>Machine Learning</h4>
                </div>

   <br>
   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{url_for('static',filename = 'healthy.jpg' )}}" alt="User Image" style="width:300px;height:300px;">
                    

                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 10px; background-color: rgb(15, 15, 15); color: white; margin-right: 40px;"
                        class="text-center mb-5 content-h1 rounded">
                        {{result}} </h1>
                </div>
                <div style="font-size: 20px">
                    <b>Tingkat Kepercayaan : {{confidence}}</b>
                </div>
                <div style="text-align: justify; margin-right: 30px;" class="details">
					
					<h4><b> Deskripsi: </b> </h4>
                    <h6>

                        Tanaman sehat sehingga tidak terdeteksi penyakit apapun.

                        

                    </h6>
                </div>
                <div>
                    <button id="clearbtn" class="btn btn-danger" onclick="javascript:history.back(1)">Kembali</button>
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="copyright text-center">
        <p class="cr"><b>Deteksi Penyakit Tanaman Kedelai oleh Fadhilah Akhbar</b></p>
    </div>
</body>

</html>